*{
    padding: 0;
    margin: 0;
}
body, html {
    height: 100%;
    position: relative;
}
header, main, footer, nav, aside, section  {
    display: block;
}
a {
    text-decoration: none;
    color: #000000;
}
header, footer, main {
    width: 100%;
}
header {
    background-color: #F2E9E9;
    height: 123px;
}
header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
header nav a {
    margin-right: 18px;
    height: 100%;
    display: flex;
    align-items: center;
}
header nav a:hover span {
    font-weight: 700;
}
header nav a span {
    font-family: 'Amiko';
    font-weight: 400;
    font-size: 24px;
}
header nav a.selected {
    background-image: radial-gradient(circle at 50% 20%, red 7px, transparent 6px);
}
#wrapper {
    display: flex;
    flex-direction: row;
    height: calc(100% - 123px - 41px);
}
main{
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    overflow: scroll;
}
main #about-mix {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main #about-mix p:nth-child(1) {
    font-size: 72px;
    font-family: 'Amiko';
    font-weight: 700;
}
main #about-mix p:nth-child(2) {
    font-size: 24px;
    font-family: 'Amiko';
    font-weight: 700;
}
main #mix-logo {
    margin-top: 91px;
    margin-left: 70px;
}
.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}
.yellow {
    background-color: #EBEF18;
    margin-bottom: 11px;
    margin-left: 13px;
}
main #mix-logo > section:nth-child(1) > section:nth-child(1){
    margin-top: 44px;
}
main #mix-logo > section:nth-child(1) > section:nth-child(1) > section:nth-child(1) {
    width: 75px;
    height: 23px;
}
main #mix-logo > section:nth-child(1) > section:nth-child(1) > section:nth-child(2) {
    width: 136px;
    height: 46px;
}
main #mix-logo > section:nth-child(1) > section:nth-child(1) > section:nth-child(3) {
    width: 134px;
    height: 404px;
}
main #mix-logo > section:nth-child(1) > section:nth-child(1) > section:nth-child(4) {
    width: 88px;
    height: 28px;
}
main #mix-logo > section:nth-child(1) > section:nth-child(1) > .row .yellow {
    width: 25px;
    height: 26px;
}
main #mix-logo > section:nth-child(1) > section:nth-child(2) > section:nth-child(1) > .yellow {
    width: 246px;
    height: 352px;
    margin-top: 44px;
}
main #mix-logo > section:nth-child(1) > section:nth-child(2) > section:nth-child(1) > .column > .yellow {
    width: 28px;
    height: 55px;
    margin-bottom: 11px;
}
main #mix-logo > section:nth-child(1) > section:nth-child(2) > section:nth-child(1) > .column > section:nth-child(4) {
    height: 198px;
}
main #mix-logo > section:nth-child(1) > section:nth-child(2) > section:nth-child(2) > section:nth-child(1) {
    width: 123px;
    height: 211px;
}
main #mix-logo > section:nth-child(1) > section:nth-child(2) > section:nth-child(2) > section:nth-child(2) > section:nth-child(1) > .yellow {
    width: 55px;
    height: 105px;
}
main #mix-logo > section:nth-child(1) > section:nth-child(2) > section:nth-child(2) > section:nth-child(2) > section:nth-child(1) > section:nth-child(2) {
    margin-left: 41px;
}
main #mix-logo > section:nth-child(1) > section:nth-child(2) > section:nth-child(2) > section:nth-child(2) > .yellow{
    width: 110px;
    height: 58px;
}
.vertical-box-list {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.vertical-box-list section {
    width: 457px;
    height: 299px;
    background-color:#C4C4C4;
    margin-bottom: 70px;
}
@media screen and (max-width: 1440px){
    .vertical-box-list section {
        --width: calc((100vw - 302px - 55px) / 2);
        width: var(--width);
        height: calc(var(--width) * (299 / 457));
    }
}
.vertical-box-list:nth-child(1) {
    margin-top: 119px;
    margin-right: 55px;
}
.vertical-box-list:nth-child(2) {
    margin-top: 287px;
}
aside{
    float: right;
    background-color: #EBEF18;
    width: 169px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.squere-list section {
    width: 80px;
    height: 80px;
}
.squere-list section:nth-child(1) {
    background-color:#000000;
    margin-top: 119px;
}
.squere-list section:nth-child(2) {
    background-color:#FFFFFF;
    margin-top: 48px;
    float: right;
}
.squere-list section:nth-child(3) {
    background-color:#000000;
    margin-top: 417px;
}
aside #my-name {
    display: flex;
    flex-direction: column;
    align-items: center;
}
aside #my-name a {
    font-family: 'Amiko';
    font-weight: 400;
    font-size: 96px;
}
footer{
    position: fixed;
    height: 41px;
    bottom: 0;
    background-color: #000000;
}